<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4" style="margin-bottom: 50px; font-weight: 700;">❋❋❋───────── <%= title %> ─────────❋❋❋</h1>
       
    </div>
    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            background-color: #ffffff;
            background-image: url(images/background.jpg);
        }

        .about-section {
            font-size: 14px; /* Reduced font size */
        }

        .about-section h2 {
            font-size: 2rem; /* Reduced font size */
        }

        .about-section h4 {
            font-size: 1.5rem; /* Reduced font size */
        }

        .about-section p {
            font-size: 1.4rem; /* Reduced font size */
        }

        .about-section ul {
            font-size: 1.4rem; /* Reduced font size */
        }
    </style>
    <div class="about-section">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/mypic.jpeg" width="400" height="600" alt="Mypic">
            </div>
            <div class="col-md-8">
                <h2 class="display-5" style="text-align: center;"><b>Varun Rohit Mudunuri</b></h2>
                <p class="lead">Hello and welcome to my about page! My name is Varun Rohit Mudunuri, and I'm on an exciting journey in the world of Artificial Intelligence (AI) and programming. As a dedicated student, I'm passionate about pushing the boundaries of technology and harnessing its power to solve real-world problems.</p>
                <h4><b>My Educational Journey in AI</b></h4>
                <p class="lead">I am currently pursuing my education in the fascinating field of AI. AI, to me, represents the future of technology and holds immense potential to transform industries and improve our daily lives. Through my coursework, I have gained valuable insights into the intricacies of machine learning, neural networks, natural language processing, computer vision, and more. My goal is to contribute to the advancement of AI through research and practical applications.</p>
                <h4><b>Interpersonal Skills</b></h4>
                <p class="lead">Beyond technical prowess, I believe in the importance of effective communication and collaboration. Strong interpersonal skills are essential for success in any field. I pride myself on my ability to:
                    <ul>
                        <li>
                            Communicate complex technical concepts in a clear and concise manner, whether to peers, instructors, or non-technical stakeholders.
                        </li>
                        <li>
                            Work collaboratively within diverse teams, respecting different perspectives and ideas to achieve common goals.
                        </li>
                        <li>
                            Adapt to new challenges and rapidly changing technologies, maintaining a growth mindset and a passion for learning
                        </li>
                    </ul>
                </p>
                <h4><b>Programming Languages and Technical Skills</b></h4>
                <p class="lead">Programming is my playground, and I have had the privilege of diving into numerous programming languages and technologies. Some of the languages and tools I am proficient in include:
                    <ul>
                        <li>
                            Python: Python is my go-to language for AI and data science projects. Its versatility and rich ecosystem of libraries make it an ideal choice for developing AI models.
                        </li>
                        <li>
                            Java: I have a strong foundation in Java, which has enabled me to work on various software development projects.
                        </li>
                        <li>
                            JavaScript: I'm well-versed in JavaScript, using it for front-end web development to create interactive and dynamic user interfaces.
                        </li>
                        <li>
                            C/C#/C++: I enjoy the efficiency and performance aspects of them and have used it for system-level programming and optimization.
                        </li>
                        <li>
                            SQL: I am skilled in managing and analyzing data using SQL, which is crucial for AI projects involving databases.
                        </li>
                        <li>
                            Git and Version Control: Effective collaboration is key in the world of programming, and I am proficient in using Git and version control systems to work seamlessly with teams.
                        </li>
                        <li>
                            CSS: My knowledge of CSS allows me to style and design websites, ensuring a visually appealing and user-friendly experience.
                        </li>
                    </ul>
                </p>
                
                <h4><b>My Vision</b></h4>
                <p class="lead">In the rapidly evolving field of AI, I see endless possibilities for innovation and positive impact. My vision is to use my knowledge and skills to create AI solutions that tackle real-world problems, enhance user experiences, and contribute to the greater good of society. I aspire to be at the forefront of AI research and development, continuously pushing the boundaries of what's possible.<p>
                <p class="lead">Thank you for taking the time to learn more about me and my journey in AI and programming. Feel free to reach out if you'd like to connect, collaborate, or discuss anything related to AI, programming, or technology. Together, we can make the future of AI even more exciting and promising!</p>

                <a href="/img/Varun_Mudunuri_Resume.pdf" target="_blank" class="btn btn-primary" style="margin-bottom: 70px;">View Resume (PDF)</a>
            </div>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
