<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4" style="margin-bottom: 50px; font-weight: 700;">❋❋❋───────── <%= title %> ─────────❋❋❋</h1>
    </div>

    <div class="card-container">
        <div class="card service-card" style="margin-bottom: 60px; margin-top: 60px; border: 3px solid rgb(136, 195, 18);">
            <img src="/img/sdd.jpg" class="card-img-top mx-auto" alt="Service 1" style="height: 300px; width: 700px; margin-top: 30px; margin-bottom: 10px;">
            <div class="card-body">
                <h3 class="card-title" style="color: red;"><u>Software Design Documentation</u></h3>
                <p class="card-text">Discover our Software Design Documentation service, essential for successful software projects. We create detailed plans, making your software development journey smoother and more successful. Trust us to turn your software ideas into clear, actionable steps.</p>
            </div>
        </div>

        <div class="card service-card" style="margin-bottom: 60px; margin-top: 60px; border: 3px solid rgb(136, 195, 18);">
            <img src="/img/wd.jpg" class="card-img-top mx-auto" alt="Service 2" style="height: 300px; width: 700px; object-fit: cover; margin-top: 30px; margin-bottom: 10px;">
            <div class="card-body">
                <h3 class="card-title" style="color: red;"><u>Coding & Web Development</u></h3>
                <p class="card-text">Welcome to our coding and web development hub, where innovation meets functionality. Whether you're a beginner or a seasoned developer, you'll find a wealth of resources, tutorials, and tools here to help you bring your web projects to life. Join our community of passionate coders, and let's build the web of the future together.</p>
            </div>
        </div>

        <div class="card service-card" style="margin-bottom: 60px; margin-top: 60px; border: 3px solid rgb(136, 195, 18);">
            <img src="/img/ma.jpg" class="card-img-top mx-auto" alt="Service 3" style="height: 300px; width: 700px; object-fit: cover; margin-top: 30px; margin-bottom: 10px;">
            <div class="card-body">
                <h3 class="card-title" style="color: red;"><u>Mobile Interface & Apps</u></h3>
                <p class="card-text">Explore the world of Mobile Interface & Apps on our website, where we craft innovative and user-friendly applications that elevate your digital experience. From concept to launch, our team is dedicated to delivering captivating and functional mobile solutions that meet your needs and exceed expectations. Join us in shaping the future of mobile technology.</p>
            </div>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
